<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <ul class="nav" id="side-menu">
            <li class="">
                <a href="#">
                    <i class="fa fa-user-md"></i>
                    Função Atividade
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li>
                        <a href="/admin/funcao-atividade/listar">Listar</a>
                    </li>
                    <li>
                        <a href="/admin/funcao-atividade/cadastrar">Cadastrar</a>
                    </li></ul></li>
                    <li class="">
                <a href="#">
                    <i class="fa fa-user-md"></i>
                    Usuário
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li>
                        <a href="/admin/usuario/listar">Listar</a>
                    </li></ul>        </li></ul>
    </body>
</html>
